<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waluty</title>
    {% block head %}
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    {% endblock %}
</head>
<body>
    
    <div class="container">
        <h1 class="title">Kalkulator Waluty (PLN)</h1>
        {% block container %}{% endblock %}
        {% block result %}{% endblock %}</div>
</body>
</html>