<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Kalkulator Waluty</h1>
        <h2>PLN ---- > </h2>
        <label for="currency">Wybierz walutę: </label>

        <select name="currency" id="currency">
            <option value="dolar_ameryka">USD</option>
            <option value="dolar_austra">AUD</option>
            <option value="dolar_kanad">CAD</option>
            <option value="euro">EUR</option>
            <option value="forint">HUF</option>
            <option value="frank">CHF</option>
            <option value="funt">GBP</option>
            <option value="jen">JPY</option>
            <option value="korona_czeska">CZK</option>
            <option value="korona_dunska">DKK</option>
            <option value="korona_norwes">NOK</option>
            <option value="korona_szwedzka">SEK</option>
            <option value="SDR">XDR</option>
        </select><br>

        <label for="text">Ile Chcemy Kupić?</label>
        <input type="text" name="count" id="count"><br>
        <button type="submit">Przelicz</button>
    </div>
</body>
</html>