{% extends 'parent.html' %}
{% block container %}
<form action="/" method="post">
    <label for="currency">Wybierz walutę: </label>
        <select name="currency" id="currency">
            {% for index in column_code %}
                <option value="{{index}}">{{index}}</option>
            {% endfor %}
        </select><br>
        <label for="text">Ile Chcemy Kupić?</label>
        <input type="text" name="count" id="count"><br>
        <button type="submit">Przelicz</button>
</form>

{% endblock %}
{% block result %}
{% if selected_option %}
<div class="choose">
    <h1>PLN --- > {{selected_option}}</h1>
</div>
{% endif %}
{% endblock %}
